body {
    margin: 10;
    padding: 0;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 37px;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    z-index: 4;
}

.list {
    list-style: none;
    display: flex;
}

.list__item {
    padding: 10px 15px;
    color: rgb(95, 95, 95);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    z-index: 3;
}

.copy {
    top: 100px;
    width: 100%;
    position: relative;
}

.copy::before {
    content: "";
    display: block;
    padding-top: 40%;
}

.copy__text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 7%;
    z-index: 2;
}

.copy__text--firstline {
    margin-top: 100px;
    font-size: 58px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgb(153, 65, 115);
}

.copy__text--firstline-blue {
    color: rgb(48, 131, 146);
}

.copy__text--secondline {
    margin-top: -65px;
    font-size: 58px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    color: rgb(153, 65, 115);
}

.copy__text--thirdline {
    margin-top: -10px;
    font-size: 21px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(153, 65, 115);
}

.copy__text--thirdline-blue {
    color: rgb(48, 131, 146);
}

.copy__text--fourthline {
    margin-top: -25px;
    font-size: 15px;
    color: rgb(97, 97, 97);
}

.copy__text--fifthline {
    margin-top: -15px;
    font-size: 15px;
    color: rgb(97, 97, 97);
}

.copy__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.copy__image--photo {
    margin: 0 0 0 auto;
    display: block;
    height: 100%;
}

.news {
    position: relative;
    margin-top: 225px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.news__header1 {
    position: absolute;
    margin-top: 0;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(153, 65, 115);
}

.news__header2 {
    position: absolute;
    margin-top: 35px;
    margin-right: auto;
    font-size: 31px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.news__notice {
    position: absolute;
    margin-top: 120px;
    width: 100%;
    height: 430px;
    list-style: none;
    border-top: 2px solid rgb(155, 155, 155);
    border-bottom: 2px solid rgb(155, 155, 155);
}

.news__notice--text1,
.news__notice--text2,
.news__notice--text3,
.news__notice--text4,
.news__notice--text5 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(155, 155, 155);
    font-size: 22px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.news__notice--text1 {
    top: 18px;
}

.news__notice--text2 {
    top: 93px;
}

.news__notice--text3 {
    top: 168px;
}

.news__notice--text4 {
    top: 243px;
}

.news__notice--text5 {
    top: 318px;
}

.news__notice--button {
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    color: white;
    left: 28px;
    width: 115px;
    height: 28px;
    border-radius: 28px;
    background: rgb(153, 65, 115);
}

.about {
    position: relative;
    margin-top: 880px;
    width: 100%;
    height: 560px;
    background-color: rgb(238, 238, 238);
}

.about__header1 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(153, 65, 115);
}

.about__header2 {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 34px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.about__text {
    position: absolute;
    top: 155px;
    left: 10%;
    font-size: 18px;
    line-height: 1.7;
}

.about__image {
    position: absolute;
    top: 155px;
    left: 55%;
    width: 35%;
}

.service {
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 875px;
}

.service__header1 {
    position: absolute;
    top: 65px;
    left: 10%;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(153, 65, 115);
}

.service__header2 {
    position: absolute;
    top: 110px;
    left: 10%;
    font-size: 34px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.service__image--left {
    position: absolute;
    top: 230px;
    right: 50%;
    left: 10%;
    height: 510px;
    padding-top: 52px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
    color: white;
    background-color: rgb(153, 65, 115);
}

.service__image--left--text1 {
    top: 225px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 21px;
    font-family: Yu Gothic;
    font-weight: bold;
}

.service__image--left--text2 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
    text-align: left;
    font-size: 15px;
}

.service__image--upper_right,
.service__image--lower_right {
    position: absolute;
    right: 10%;
    left: 50%;
    height: 230px;
    padding-top: 52px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    align-items: center;
    color: white;
}

.service__image--upper_right {
    top: 230px;
    background-color: rgb(151, 96, 127);
}

.service__image--upper_right--text1,
.service__image--lower_right--text1 {
    position: absolute;
    top: 12%;
    left: 220px;
    font-size: 21px;
    font-family: Yu Gothic;
    font-weight: bold;
}

.service__image--upper_right--text2,
.service__image--lower_right--text2 {
    position: absolute;
    top: 30%;
    left: 220px;
    font-size: 15px;
    line-height: 1.8;
}

.service__image--lower_right {
    top: 510px;
    background-color: rgb(152, 120, 138);
}

.blog {
    position: relative;
    margin-top: 13px;
    width: 100%;
    height: 670px;
    background-color: rgb(238, 238, 238);
}

.blog__header1 {
    position: absolute;
    top: 5px;
    left: 10%;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(153, 65, 115);
}

.blog__header2 {
    position: absolute;
    top: 50px;
    left: 10%;
    font-size: 34px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.blog__image {
    position: absolute;
    top: 175px;
    right: 10%;
    left: 10%;
    height: 340px;
    display: flex;
    justify-content: space-between;
}

.blog__image--left,
.blog__image--center,
.blog__image--right {
    width: 260px;
    border-radius: 22px;
    background-color: white;
}

.blog__image--left--photograph,
.blog__image--center--photograph,
.blog__image--right--photograph {
    border-radius: 22px 22px 0 0;
}

.blog__image--left--text1,
.blog__image--center--text1,
.blog__image--right--text1 {
    position: absolute;
    top: 0;
    width: 95px;
    height: 47.5px;
    margin-top: 0;
    border-radius: 22px 0 0 0;
    font-size: 22px;
    text-align: center;
    line-height: 47.5px;
    color: white;
    background-color: rgb(153, 65, 115);
}

.blog__image--left--text1 {
    left: 0px;
}

.blog__image--left--text2,
.blog__image--center--text2,
.blog__image--right--text2 {
    margin-top: 23px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.blog__image--left--text3,
.blog__image--center--text3,
.blog__image--right--text3 {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgb(97, 97, 97);
}

.blog__button {
    position: absolute;
    top: 550px;
    width: 100%;
}

.blog__button--button {
    width: 260px;
    height: 75px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 75px;
    color: rgb(153, 65, 115);
    border-style: solid;
    border-width: medium;
    border-color: rgb(153, 65, 115);
    border-radius: 75px;
    background: white;
}

.company {
    position: relative;
    margin-top: 55px;
    width: 850px;
    margin-right: auto;
    margin-left: auto;
    height: 670px;
}

.company__header1 {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: rgb(153, 65, 115);
}

.company__header2 {
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 34px;
    font-family: Yu Gothic;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.company__table {
    position: absolute;
    top: 150px;
    right: 0;
    left: 0;
    height: 445px;
    border-collapse: collapse;
    color: rgb(97, 97, 97);
}

.company__table--header,
.company__table--description {
    border: 2px solid rgb(204, 204, 204);
    padding-left: 20px;
}

.company__table--header {
    width: 290px;
    text-align: left;
    font-size: 20px;
    background-color: rgb(236, 236, 236);
}

.company__table--description {
    width: 670px;
    font-size: 19px;
}

.recruit {
    position: relative;
    margin-top: 25px;
    width: 100%;
}

.recruit::before {
    content: "";
    display: block;
    padding-top: 22%;
}

.recruit__recruit_photograph {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.recruit__interview_photograph {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}

.recruit__recruit_text,
.recruit__interview_text {
    position: absolute;
    top: 0;
    width: 50%;
    bottom: 0;
}

.recruit__recruit_text {
    left: 0;
}

.recruit__interview_text {
    right: 0;
}

.recruit__recruit_text--text,
.recruit__interview_text--text {
    height: 100%;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.inquiry {
    position: relative;
    margin-top: 68px;
    width: 100%;
    height: auto;
    text-align: center;
}

.inquiry__text {
    color: rgb(97, 97, 97);
    font-size: 25.5px;
    font-weight: bold;
}

.inquiry__vertical_line {
    position: absolute;
    top: 60px;
    left: 0;
    width: 50%;
    height: 50px;
    border-right: solid 3px rgb(153, 65, 115);
}

.inquiry__button {
    position: relative;
    display: block;
    margin-top: 97px;
    margin-right: auto;
    margin-left: auto;
    width: 385px;
    height: 100px;
    font-size: 22px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-width: 0;
    border-radius: 100px;
    background: linear-gradient(90deg, rgb(217, 130, 182), rgb(231, 18, 139));
    z-index: 2;
}

.inquiry__button--mail_icon {
    position: absolute;
    top: 12px;
    left: 35px;
}

.inquiry__shadow_button {
    position: absolute;
    top: 146px;
    width: 100%;
    height: auto;
}

.inquiry__shadow_button--shadow_button {
    margin-right: auto;
    margin-left: auto;
    width: 385px;
    height: 100px;
    border-width: 0;
    border-radius: 100px;
    background: rgb(90, 6, 54);
    z-index: 1;
}

footer {
    margin-top: 110px;
    width: 100%;
    height: 76px;
    text-align: center;
    line-height: 76px;
    font-size: 18px;
    color: rgb(97, 97, 97);
    background-color: rgb(238, 238, 238);
}